*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #999999;
}

button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

/*****NAV BAR*****/

.navbar {
  height: 90px;
  background-color: #1a1a1a;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo img {
  width: 23vh;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 24px;
  padding-inline: 24px;
  align-items: center;
}

.menu-link a {
  font-weight: 500;
  color: #999999;
  padding: 8px 16px;
}

.menu-links a:hover {
  color: white;
}

.log-in {
  font-family: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.2s;
}

.log-in:hover {
  background-color: #0aa5ff;
  color: white;
}

/*****************/

@media (max-width: 30rem) {
  .menu {
    display: none;
  }
}
